services:
  - type: web
    name: fortigatex-server
    runtime: node
    runtimeVersion: 20
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
